nav {
    height: 80px;

}
h1 {
    text-align: center;
    color: white;
    padding-top: 15px;
}

.side {
    background-color: rgb(226, 219, 219);
    width: 100px;
    height: 650px;
}

h4 {
    text-align: center;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}

.form {
    margin-left: 20px;
    border-radius: 5%;
    height: 35px;
}

button {
    border-radius: 10%;
    background-color: rgb(23, 153, 228);
    border-color: rgb(23, 153, 228);
    color: white;
    margin-left: 5px;
}

button:active {
    border:none;
}

.main-content {
    border: .5px solid #494646;
    margin-left: 20px;
    margin-top: 20px;
    height: 310px;
}

.display-content {
    margin-bottom: 30px;
}

.top-content {
    margin-top: 40px;
    padding: none;
}

.city-name {
    font-size: 30px;
    font-weight: bold;
}
.bottom-content {
    border: .5px solid #494646;
    margin-left: -10px;
    margin-top: 20px;
    height: 280px;
}

.forecast {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

.five-days{
    background-color: rgb(23, 153, 228);    
    color: white;
    margin: 1% 1%;
    padding: 1% 1%;
    border-radius: 5px;
}

.city-button {
    border-radius: 10%;
    background-color: white;
    border-color:white;
    color: black;
    margin-left: 20px;
    width: 240px;
    margin-top: 20px;
}

.list-group {
    justify-content: center;
    align-items: center;
}